.app
  .b
    color #fff

.app-bar
	background-color #20a6fc !important
	color #ffffff !important
	box-shadow 0 2px 4px 0 rgba(159, 159, 159, 0.5)
	height 64px
	.toolbar__content
		height 64px !important
	.brand
		font-family Lato, san-serif
		font-size 1.9em
		font-weight 800
		letter-spacing 1.5px
	a
		color #ffffff !important
		height 64px
		padding 20px 2vw 0
		font-size 1.1em
		letter-spacing 0.6px
		&:hover
			div
				font-weight bold
				border-bottom 4px solid #fff
		div
			height 100%
	.link-active
		div
			font-weight bold
			border-bottom 4px solid #fff
	.notifications
		padding-right 4vw
		.icon
			color #ffffff !important
			font-size 2.2em
	.profile
		font-size 1.1em
		font-weight 500
		letter-spacing -0.6px
		.avatar
			max-width 34px
			max-height 34px
			border-radius 5px
			margin-right 5px
			img
				max-height 34px
				max-width 34px
				border-radius 5px
		.icon
			color #ffffff
			font-size 1.8em
			max-width 20px

.profile-menu
	min-width 140px
	.list__tile__title
		color #5a6169
		font-weight 600
.settings-menu
	padding-left 16px
	padding-right 4px

.fixit-intro
	min-height 100vh
	.intro
		min-height 100vh
		background-image url('/static/img/fixit-bg.png')
		background-position bottom right
		background-size cover
		color #ffffff
		.stage-one
			padding-top 12vh
			opacity 0.9
			.title-1
				padding 1.2vh 0
			.title-5
				padding 2vh 0 8vh 0
			.divider
				border solid 1px #b1b1b1
		.stage-two
			opacity 0.9
			.container
				display flex
				padding 1.8vh 0
			.icon
				font-size 2.5em
				color #ffffff
				padding 0 20px 20px 0
			.card__text
				font-size 1.2em
				font-weight 500


// FOOTER
.app-footer
  text-align center
  margin 1em
  .text
    width 100%
